[workspace]

members = [
  "core",
  "query-ast",
  "query-cypher",
  "query-gql",
  "functions-cypher",
  "functions-gql",
  "index-rocksdb",
  "index-garnet",
  "middleware",
  "lib",
  
  # Internal
  "shared-tests",
  "query-perf",
  "examples",
  ]

resolver = "2"

[workspace.package]
version = "0.2.0"

[profile.release]
codegen-units = 1
lto = true
