[workspace]

members = [
  "core",
  "query-ast",
  "query-cypher",
  "query-gql",
  "functions-cypher",
  "functions-gql",
  "index-rocksdb",
  "index-garnet",
  "middleware",
  
  # Internal
  "shared-tests",
  "query-perf",
  "examples",
  ]

[workspace.package]
version = "0.2.0"

[workspace.lints.rust]
warnings = "deny"
unused = "allow"

[workspace.lints.clippy]
print_stdout = "warn"
unwrap_used = "warn"
module_inception = "allow"
ptr_arg = "allow"
type_complexity = "allow"

[profile.release]
codegen-units = 1
lto = true
