[workspace]

members = [
  "core",
  "query-ast",
  "query-cypher",
  "query-gql",
  "functions-cypher",
  "functions-gql",
  "index-rocksdb",
  "index-garnet",
  "middleware",
  "lib",

  # Source Plugins
  "components/sources/postgres",
  "components/sources/http",
  "components/sources/grpc",
  "components/sources/platform",
  "components/sources/application",
  "components/sources/mock",

  # Bootstrap Plugins
  "components/bootstrappers/plugin-postgres",
  "components/bootstrappers/plugin-platform",
  "components/bootstrappers/plugin-scriptfile",
  "components/bootstrappers/plugin-application",
  "components/bootstrappers/plugin-noop",

  # Reaction Plugins
  "components/reactions/http",
  "components/reactions/http-adaptive",
  "components/reactions/grpc",
  "components/reactions/grpc-adaptive",
  "components/reactions/sse",
  "components/reactions/platform",
  "components/reactions/profiler",
  "components/reactions/application",
  "components/reactions/log",

  # Internal
  "shared-tests",
  "query-perf",
  "examples",
  "examples/plugin-demo",
  ]

resolver = "2"

[workspace.package]
version = "0.2.0"

[profile.release]
codegen-units = 1
lto = true
