[workspace]

members = [
  "core",
  "query-ast",
  "query-cypher",
  "query-gql",
  "functions-cypher",
  "functions-gql",
  "middleware",
  "lib",

  # Source Plugins
  "components/sources/postgres",
  "components/sources/http",
  "components/sources/grpc",
  "components/sources/platform",
  "components/sources/application",
  "components/sources/mock",
  "components/sources/mysql",

  # Bootstrap Plugins
  "components/bootstrappers/postgres",
  "components/bootstrappers/platform",
  "components/bootstrappers/scriptfile",
  "components/bootstrappers/application",
  "components/bootstrappers/noop",
  "components/bootstrappers/mysql",

  # Reaction Plugins
  "components/reactions/http",
  "components/reactions/http-adaptive",
  "components/reactions/grpc",
  "components/reactions/grpc-adaptive",
  "components/reactions/sse",
  "components/reactions/platform",
  "components/reactions/profiler",
  "components/reactions/application",
  "components/reactions/log",
  "components/reactions/storedproc-mssql",
  "components/reactions/storedproc-mysql",
  "components/reactions/storedproc-postgres",

  # Index Plugins
  "components/indexes/rocksdb",
  "components/indexes/garnet",

  # State Store Plugins
  "components/state_stores/redb",

  # Internal
  "shared-tests",
  "query-perf",
  "examples/query",
  ]

# Exclude internal crates from workspace packaging
exclude = [
  "shared-tests",
  "query-perf",
  "examples/query",
]

resolver = "2"

[workspace.package]
version = "0.3.1"
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/drasi-project/drasi-core"
keywords = ["drasi"]
categories = ["database"]

[workspace.dependencies]
# Internal workspace crates
drasi-query-ast = { version = "0.3.2", path = "query-ast" }
drasi-query-cypher = { version = "0.3.2", path = "query-cypher" }
drasi-query-gql = { version = "0.3.2", path = "query-gql" }
drasi-core = { version = "0.3.2", path = "core" }
drasi-functions-cypher = { version = "0.3.2", path = "functions-cypher" }
drasi-functions-gql = { version = "0.3.2", path = "functions-gql" }
drasi-middleware = { version = "0.3.2", path = "middleware" }
drasi-lib = { version = "0.3.2", path = "lib" }

# Component plugins
drasi-source-postgres = { version = "0.1.2", path = "components/sources/postgres" }
drasi-source-application = { version = "0.1.2", path = "components/sources/application" }
drasi-bootstrap-application = { version = "0.1.2", path = "components/bootstrappers/application" }
drasi-source-mysql = { version = "0.1.0", path = "components/sources/mysql" }
drasi-bootstrap-mysql = { version = "0.1.0", path = "components/bootstrappers/mysql" }
drasi-reaction-http = { version = "0.1.3", path = "components/reactions/http" }
drasi-reaction-grpc = { version = "0.2.1", path = "components/reactions/grpc" }
drasi-index-rocksdb = { version = "0.2.1", path = "components/indexes/rocksdb" }
drasi-index-garnet = { version = "0.1.2", path = "components/indexes/garnet" }

[workspace.lints.rust]
warnings = "deny"
unused = "allow"

[workspace.lints.clippy]
print_stdout = "warn"
unwrap_used = "warn"
uninlined_format_args = "warn"
module_inception = "allow"
ptr_arg = "allow"
type_complexity = "allow"
large_enum_variant = "allow"

[profile.release]
codegen-units = 1
lto = true
