[workspace]

members = [
  "core",
  "query-ast",
  "query-cypher",
  "query-gql",
  "functions-cypher",
  "functions-gql",
  "index-rocksdb",
  "index-garnet",
  "middleware",
  "lib",

  # Source Plugins
  "components/sources/postgres",
  "components/sources/http",
  "components/sources/grpc",
  "components/sources/platform",
  "components/sources/application",
  "components/sources/mock",

  # Bootstrap Plugins
  "components/bootstrappers/postgres",
  "components/bootstrappers/platform",
  "components/bootstrappers/scriptfile",
  "components/bootstrappers/application",
  "components/bootstrappers/noop",

  # Reaction Plugins
  "components/reactions/http",
  "components/reactions/http-adaptive",
  "components/reactions/grpc",
  "components/reactions/grpc-adaptive",
  "components/reactions/sse",
  "components/reactions/platform",
  "components/reactions/profiler",
  "components/reactions/application",
  "components/reactions/log",
  "components/reactions/storedproc-mysql",

  # Internal
  "shared-tests",
  "query-perf",
  "examples/query",
  ]

resolver = "2"

[workspace.package]
version = "0.2.0"

[workspace.lints.rust]
warnings = "deny"
unused = "allow"

[workspace.lints.clippy]
print_stdout = "warn"
unwrap_used = "warn"
uninlined_format_args = "warn"
module_inception = "allow"
ptr_arg = "allow"
type_complexity = "allow"
large_enum_variant = "allow"

[profile.release]
codegen-units = 1
lto = true