name: Run cargo fmt and cargo clippy

on:
  push:
    branches:
      - main
      - feature/*
      - feature-lib
      - release/*
  pull_request:
    branches:
      - main
      - feature/*
      - feature-lib
      - release/*

jobs:
  clippy_check:
    name: Cargo Clippy lint check
    # Clippy lints are now configured in Cargo.toml [workspace.lints] section
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show Rust toolchain
        run: rustup show

      - name: Install libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y jq libjq-dev libonig-dev protobuf-compiler
      
      - name: Set JQ_LIB_DIR
        run: echo "JQ_LIB_DIR=/usr/lib/x86_64-linux-gnu" >> $GITHUB_ENV

      - name: Cache Cargo registry
        uses: actions/cache@v4.2.2
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Cache Cargo index
        uses: actions/cache@v4.2.2
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-index-

      - name: Cache Cargo build
        uses: actions/cache@v4.2.2
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-build-

      - name: Run Cargo Clippy
        run: cargo clippy --all-targets --all-features


  fmt_check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Show Rust toolchain
        run: rustup show

      - name: Run Cargo fmt
        run: cargo fmt -- --check 
