name: Run cargo fmt and cargo clippy

on:
  push:
    branches: ['*']
  pull_request:
    branches:
      - main
      - feature/*
      - feature-lib

jobs:
  clippy_check:
    name: Cargo Clippy lint check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Show Rust toolchain
        run: rustup show

      - name: Install libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y jq libjq-dev protobuf-compiler
      
      - name: Set JQ_LIB_DIR
        run: echo "JQ_LIB_DIR=/usr/lib/x86_64-linux-gnu" >> $GITHUB_ENV

      - name: Run Cargo Clippy
        run: cargo clippy --all-targets --all-features

  fmt_check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Show Rust toolchain
        run: rustup show

      - name: Run Cargo fmt
        run: cargo fmt -- --check