# Copyright 2024 The Drasi Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Generate Rust Code Coverage

on:
  push:
    branches:
      - codecov-test
  pull_request:
    branches:
      - main
      - feature/*
      - feature-lib

env:
  CARGO_TERM_COLOR: always

permissions: 
  contents: read

  
jobs:
  core_code_coverage:
    name: Generate Code Coverage for drasi-core
    runs-on: ubuntu-latest-8-cores
    permissions:
      contents: read
    services:
      redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y jq libjq-dev libonig-dev protobuf-compiler

      - name: Set JQ_LIB_DIR
        run: echo "JQ_LIB_DIR=/usr/lib/x86_64-linux-gnu" >> $GITHUB_ENV

      - name: Cache Cargo registry
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      - name: Cache Cargo index
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-index-

      - name: Cache Cargo build
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-build-
      - name: Show Rust toolchain
        run: rustup show

      - name: Install Cargo tarpaulin
        run: cargo install cargo-tarpaulin
      
      - name: Clean build artifacts
        run: cargo clean
      
      - name: Generate Code Coverage
        env:
          REDIS_URL: redis://localhost:6379
          CARGO_INCREMENTAL: 0
        run: |
          cargo tarpaulin --release --out Xml
          mv cobertura.xml drasi-core-tarpaulin-report.xml
          echo "Code coverage report generated"

      - name: Upload Code Coverage Report to Codecov
        if: "!contains(github.event.head_commit.message, 'clippy fix')"
        uses: codecov/codecov-action@0561704f0f02c16a585d4c7555e57fa2e44cf909 # v5.5.2
        with:
          files: drasi-core-tarpaulin-report.xml
          name: codecov-drasi-core
