name: DevSkim

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "feature-lib" ]
  schedule:
    - cron: '30 0 * * 0' #runs every Sunday at 00:30 UTC

permissions: 
  contents: read

jobs:
  lint:
    name: DevSkim
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Run DevSkim scanner
        uses: microsoft/DevSkim-Action@a6b6966a3d6d6f23b2075b0570f806639d3de39b # v1.0.15

      - name: Upload DevSkim scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@df798835061483861213f56bc2b489d89280d96d # v3.28.0
        with:
          sarif_file: devskim-results.sarif